body {

  text-align: center; 
font-family: "Lucida Console", "Courier New", monospace;
background-image: url("189506c859188-screenshotUrl.jpg");
  background-repeat: no-repeat;
  background-position: right top;
  margin-right: 200px;
  background-attachment: scroll;

}
h1 {
  color: white;
  text-align: center;
}

p {
  
  background-color: lightgrey;
  width: auto;
  border: 15px white;
  padding: 50px;
  margin: auto;
  border-radius: 15px;
  position: absolute;
  top: 10%;
  left: 22%;
}